.comedyBody {
    min-height: 100%;
}

.comedy {
	text-align: center;
    padding: 10px;
}
.comedy > h1 {
    color: black;
    letter-spacing: 1px;
    text-shadow: -1px 1px 0 #01b7d3,
                          1px 1px 0 #01b7d3,
                         1px -1px 0 #01b7d3,
                        -1px -1px 0 #01b7d3;
}
h2 {
    color: #01b7d3;
    letter-spacing: 1px;
}
.projects-box {
    background-color: #59d5e8;
}

.dog3photos {
    display: flex;
    flex-direction: row;
    height: 200px;
    justify-content: center;
}

.dog3photos > img {
    padding: 10px;
}

.epic-photo > img {
    height: 300px;
    padding: 10px;
}

.droid-list {
    text-align: left;
}

.description > a {
	color: black;
	text-shadow: .5px .2px;
}
.description > a :hover {
	cursor: pointer;
}

.juke-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-text {
    text-align: left;
    padding: 10px;
    width: 80%;
}
.right-media {
    width: 20%;
}
.juke-list {
    display: flex;
}
.juke-list-empty {
    width: 30%;
}
.juke-list-full {
    text-align: left;
    width: 70%;
}
.juke-list-box {
    border: double 8px;
    list-style-position: inside;
    text-align: left;
    padding: 10px;
}

.project-video {
    width: 75%;
    padding: 10px;
}

@media (orientation: portrait) {
    .dog3photos {
        max-height: 120px;
    }
    .comedy {
        font-size: .7em;
    }
    .epic-photo > img {
        max-width: 80%;
        max-height: 150px;
    }
  }