.comedyBody {
    min-height: 100%;
}

.comedy {
	text-align: center;
    padding: 10px;
}
.comedy > h1 {
    color: black;
    letter-spacing: 1px;
    text-shadow: -1px 1px 0 #01b7d3,
                          1px 1px 0 #01b7d3,
                         1px -1px 0 #01b7d3,
                        -1px -1px 0 #01b7d3;
}
h2 {
    color: #01b7d3;
    letter-spacing: 1px;
}
.comedy-box {
    background-color: #59d5e8;
}

.dog3photos {
    display: flex;
    flex-direction: row;
    height: 200px;
    justify-content: center;
}

.dog3photos > img {
    padding: 10px;
}

.droid-list {
    text-align: left;
}


.project-video {
    width: 75%;
    padding: 10px;
}

@media (orientation: portrait) {
    .dog3photos {
        max-height: 120px;
    }
    .comedy {
        font-size: .7em;
    }
  }

/*
#tab1 {
    font-weight: normal;
}
#tab2 {
    font-weight: normal;
}
#tab3 {
    font-weight: normal;
}
#tab4 {
    font-weight: bold;
}
*/