.musicBody {
	min-height: 100%; /* this guarantees the background goes all the way to the botttom of the page */
}

.music {
	text-align: center;
	padding: 10px;
	cursor: url("../../images/cursors/cursor-haight-purple.png"), pointer; /* custom pointer for page */
}
.music > h1 {
    color: black;
    letter-spacing: 1px;
    text-shadow: -1px 1px 0 #7979fa,
                          1px 1px 0 #7979fa,
                         1px -1px 0 #7979fa,
                        -1px -1px 0 #7979fa;
}
.music > h2 {
	color: #7979fa;
	letter-spacing: 2px;
}
.music > h3 {
	color: #7979fa;
}
.music-slideshow-container {
	width: 60%;
	display: block;
  	margin: auto; /* center */
}

.music-photo-container {
	padding: 20px;
	height: 300px;
	background-color: #9999fb;
	border-top: double 8px;
	border-bottom: double 8px;
	display: flex;
	flex-direction: column; /* for the image & text combo */
	justify-content: center;
	align-items: center;
}

.arrow {
	padding: 15px;
	font-size: 5em;
}

.music-spiel { /* image & text combo */
	display: flex;
	align-items: center;
}

.music .left-media {
	width: 30%;
}

.music .left-text {
	text-align: right;
	padding: 10px;
	width: 70%;
}

.music .right-text {
	text-align: left;
	padding: 10px;
	width: 70%;
}

.music .right-media {
	width: 30%;
}

.i1 {
	font-size: 1.3em;
}

.music a {
	color: black;
	text-shadow: .5px .2px;
}
.music a :hover {
	cursor: pointer;
}

.music-box {
	margin: 10px;
	padding: 10px;
	text-align: center;
	border: double 8px;
	background-color: #9999fb;
}

.music audio {
	opacity: 50%;
}

.shows {
	display: flex; 
}

.music source {
	background-color: black;
}

.comedy-photo {
	height: 200px;
	color: #7979fa;
}
.comedy-box {
	margin: 10px;
	padding: 10px;
	display: block;
	width: 60%;
  	margin: auto; /* center */
	text-align: center;
	border: double 8px;
	background-color: #9999fb;
}

@media (orientation: portrait) {
	.music {
		font-size: .7em;
	}
	.i1 {
		font-size: 1.2em;
	}
	.music-slideshow-container {
		width: 100%;
	}
	.music-photo-container {
		height: 200px;
	}
	.music-photo {
		max-width: 80%;
		max-height: 70%;
	}
	.music-spiel { 
		display: flex;
		flex-direction: column-reverse;
	}
	.reverse {
		flex-direction: column;
	}
	.music .left-media {
		width: 80%;
	}
	.music .left-text {
		width: 100%;
		text-align: center;
	}
	.music .right-text {
		width: 100%;
		text-align: center;
	}
	.music .right-media {
		width: 80%;
	}
	.music audio {
		height: 40px;
	}
	.comedy-box {
		width: 80%;
	}
	.comedy-photo {
		height: 150px;
	}
}

@media (orientation: landscape) {
	.music-photo {
		height: 80%;
		max-width: 90%;
	}
}