.musicBody {
	min-height: 100%;
}

.music {
	text-align: center;
	padding: 10px;
}
.music > h2 {
	color: #7979fa;
	text-shadow: -1px 1px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000;
	letter-spacing: 2px;
}
.music > h3 {
	color: #9999fb;
	color: #7979fa;
}
.music-slideshow-container {
	margin: 10px;
}

.music-photo-container {
	height: 300px;
	background-color: #5f5fffa9;
	background-color: #9999fb;
	border-top: double 8px;
	border-bottom: double 8px;
}

.music-photo {
	height: 80%;
	border-radius: 10%;
	max-width: 90%;
}

.music-box {
	margin: 10px;
	padding: 10px;
	text-align: center;
	display: flex;
	justify-content: center;
	border: double 8px;
}

.small-box {
	display: flex;
	flex-direction: row;
}

.shows {
	display: flex; 
}


li.mus {
	text-align: center;
	border: single 4px;
	list-style-type: none;
	border-color: white;
	border: double 3px;
	margin: 5px;
	padding: 2px;
	background-color: #5f5fffa9;
	background-color: #9999fb;
}

.wsnd-link {
	text-decoration: underline;
	color: #59d5e8;
}