.comedyBody {
	padding-top: 10px;
	background-color: #59d5e8d5;
    min-height: 100%;
}

.comedy {
	color: white;
	text-align: center;
}

.dog3photos {
    display: flex;
    flex-direction: row;
    height: 200px;
    justify-content: center;
}
img {
    padding: 10px;
}

@media (orientation: portrait) {
    .dog3photos {
        height: 160px;
    }
  }

/*
#tab1 {
    font-weight: normal;
}
#tab2 {
    font-weight: normal;
}
#tab3 {
    font-weight: normal;
}
#tab4 {
    font-weight: bold;
}
*/