.comedyBody {
    min-height: 100%;
}

.comedy {
	text-align: center;
    padding: 10px;
}
h2 {
    color: #01b7d3;
}
h3 {
    color: #01b7d3;
}
.comedy-box {
    background-color: #59d5e8;
}

.dog3photos {
    display: flex;
    flex-direction: row;
    height: 200px;
    justify-content: center;
}
img {
    padding: 10px;
}

@media (orientation: portrait) {
    .dog3photos {
        max-height: 120px;
    }
  }

/*
#tab1 {
    font-weight: normal;
}
#tab2 {
    font-weight: normal;
}
#tab3 {
    font-weight: normal;
}
#tab4 {
    font-weight: bold;
}
*/