.comedyBody {
	height: 100%;
	width: 100%;
	background-color: #59d5e8af;
}

.comedy {
	color: white;
	text-align: center;
}

/*
#tab1 {
    font-weight: normal;
}
#tab2 {
    font-weight: normal;
}
#tab3 {
    font-weight: normal;
}
#tab4 {
    font-weight: bold;
}
*/