.resumeBody {
	padding-top: 10px;
	background-color: #f45c94e0;
	background-color: #ff96bce4;
	min-height: 100%;
}

.resume {
	color: white;
	text-align: center;
	font-size: 1em;
}
.resume > h2 {
	color: #f85792;
	text-shadow: -.5px .5px 0 #fff,
                          .5px .5px 0 #fff,
                         .5px -.5px 0 #fff,
                        -.5px -.5px 0 #fff;
}
.resume > * {
	color: white;
	text-align: center;
} 

#tab2 {
	color: #f85792;
}
.box {
	margin: 10px;
	padding: 10px;
	background-color: #f45c94;
	border: double 8px;
}
.last {
	padding-bottom: 20px;
	margin-bottom: 10%;
}

.double-sided {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.title {
	font-weight: bold;
}
.single-sided li {
	list-style-type: square;
}
.single-sided {
	text-align: left;
}
.single-sided > li > ul {
	margin: 0;
}
hr {
	height: 2px;
	border-width: 0;
	color: rgba(255, 255, 255, 0.497);
	background-color: rgba(255, 255, 255, 0.497);
}

a {
	color: rgb(232, 25, 173);
	color: purple;
	text-decoration: none;
}
