.resumeBody {
	min-height: 100%;
}

.resume {
	color: black;
	text-align: center;
	font-size: 1em;
	padding: 10px;
	cursor: url("../../media/cursors/cursor-haight-pink.png"), pointer; 
}
.resume > h2 {
	color: #ff96bc;
	text-shadow: -.7px .7px 0 #fff,
                          .7px .7px 0 #fff,
                         .7px -.7px 0 #fff,
                        -.7px -.7px 0 #fff;
}
.resume > h2 {
	color: #f85792;
	text-shadow: -1px 1px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000;
	letter-spacing: 2px;
}
.resume > * {
	color: black;
	text-align: center;
} 

#tab2 {
	color: #f85792;
}
.box {
	margin: 10px;
	padding: 10px;
	background-color: #ff96bc;
	border: double 8px;
}
.last {
	padding-bottom: 20px;
	margin-bottom: 10%;
}

.double-sided {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
.title {
	font-weight: bold;
}
.single-sided li {
	list-style-type: square;
}
.single-sided {
	text-align: left;
}
.single-sided > li > ul {
	margin: 0;
}
hr {
	height: 2px;
	border-width: 0;
	color: rgba(255, 255, 255, 0.497);
	background-color: rgba(0, 0, 0, 0.497);
}

a {
	color: rgb(232, 25, 173);
	color: #069;
	text-decoration: none;
}

.resume-link {
	text-decoration: underline;
}

@media (orientation: portrait) {
	.skills {
		font-size: .8em;
	}
}