.home > * {
	color: #ffb457;
	text-align: center;
}
.home > * > *{
	color: #ffb457;
	text-align: center;
} 


/*
@media (orientation: landscape) {
	.description-box {
		display: flex;
		flex-flow: row nowrap;
		text-align: center;
		width: 60%;
	}
	.description {
		justify-content: center;
	}
  }
*/
