.home-body {
	min-height: 100%;
	font-family: "Lucida Console", "Courier New", monospace;
}

.home {
	background-color: #ffb357dd;
	padding: 10px;
}

.home > h2 {
	color: #f88e0b;
	text-shadow: -.7px .7px 0 #fff,
                          .7px .7px 0 #fff,
                         .7px -.7px 0 #fff,
                        -.7px -.7px 0 #fff;
}
.home > h2 {
	color: #f88e0b;
	text-shadow: -1px 1px 0 #fff,
                          1px 1px 0 #fff,
                         1px -1px 0 #fff,
                        -1px -1px 0 #fff;
}

.home-box {
	background-color: #f88e0b;
	margin: 10px;
	padding: 10px;
	border: double 8px;
}

.other-links:link {
	color: "#f88e0b";
	margin: 40px;
}

.other-links:visited {
	color: white;
}

.other-link {
	height: 40px;
}


.home > * {
	color: white;
	text-align: center;
}
.home > * > * {
	color: white;
} 

/*
@media (orientation: landscape) {
	.description-box {
		display: flex;
		flex-flow: row nowrap;
		text-align: center;
		width: 60%;
	}
	.description {
		justify-content: center;
	}
  }
*/
