.home-body {
	/* guarantees the background goes all the way to the botttom of the page */
	min-height: 100%;
	font-family: "Lucida Console", "Courier New", monospace;
}

.home {
	padding: 10px;
	color: black;
	cursor: url("../../media/cursors/cursor-haight-orange.png"), pointer; 
}

/* NATALIE WHALEN outline title */
.home > h1 {
	color: black;
	text-shadow: -1px 1px 0 #f88e0b,
                          1px 1px 0 #f88e0b,
                         1px -1px 0 #f88e0b,
                        -1px -1px 0 #f88e0b;
	letter-spacing: 2px;
	text-align: center;
}

.home-box {
	margin: 10px;
	padding: 10px;
	border: double 8px black;
	background-color: #ffb457;
}

.center {
	text-align: center;
}

/* LinkedIn and GitHub links */
.home-links {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.social-links:link {
	color: #ffb457;
	margin: 40px;
}
.social-links {
	color: #ffb457;
}
.social-links:hover {
	color: #f88e0b;
}
.social-link {
	height: 40px;
}

.projects-redirect {
	color: #01b7d3;
}

/* self-explanatory */
.photo-of-me {
	width: 40%;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.whale {
	text-align: center;
}

/* size down font for portrait */
@media (orientation: portrait) {
	.home {
		font-size: .7em;
	}
  }
