html, #root, body, .App {
	height: 100%;
	font-family: "Lucida Console", "Courier New", monospace;
}

body {
	background-color: black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}