

nav {
  position: fixed absolute;
  text-decoration: none;
  width: 100%;
}

.tab-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  font-size: 2em;
  list-style: none;
  text-decoration: none;
}
.tab {
  text-align: center;
  padding: 5px;
  border-bottom:  10px solid;
  -webkit-clip-path: polygon(100% 0, 90% 0, 100% 100%, 0 100%, 0.5% 0);
  clip-path: polygon(100% 0, 86% 0, 100% 100%, 0 100%, 0.5% 0);
  padding-right: 15px;
  text-decoration: none;
}

.long-nav {
  font-size: .8em;
}

#tab1 {
  border-color: #ffb357;
  /*background-color: #fed08a;*/
  cursor: url("../../media/cursors/cursor-haight-orange.png"), pointer;
}
#tab1 :hover {
  color: #f88e0b;
}
#tab2 {
  border-color: #ff96bd;
  cursor: url("../../media/cursors/cursor-haight-pink.png"), pointer;
}
#tab2 :hover {
  color: #f85792;
}
#tab3 {
  border-color: #9999fb;
  cursor: url("../../media/cursors/cursor-haight-purple.png"), pointer;
}
#tab3 :hover {
  color: #7979fa;
}
#tab4 {
  border-color: #59d5e8;
  cursor: url("../../media/cursors/cursor-haight-blue.png"), pointer;
}
#tab4 :hover {
  color: #01b7d3;
}

@media (orientation: landscape) {
  h2 {
    flex-direction: row;
  }
}

@media (orientation: portrait) {
  .long-nav {
    display: none;
  }
}

