nav {
  position: fixed absolute;
  text-decoration: none;
  width: 100%;
  margin-right: 10px;
}

.tab-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  font-size: 2em;
  list-style: none;
  text-decoration: none;
  margin-bottom: 25px;
  margin-right: 5px;
}
.tab {
  border-top-left-radius: 40%;
  border-top-right-radius: 20%;
  text-align: center;
  border:  10px double;
  border-bottom:  10px solid;
  padding: 10px;
  width: 5em;
  background-color: white;
  text-decoration: none;
}
.tab :after {
  position: absolute;
  content: "";
  width: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid black;
  z-index: 1;
}


#tab1 {
  border-color: #ffb457;
  /*background-color: #fed08a;*/
  color: #ffb457;
  cursor: url("../../images/cursors/cursor-haight-orange.png"), pointer;
}
#tab1 :hover {
  color: #f88e0b;
}
#tab2 {
  border-color: #ff96bd;
  color: #ff96bd;
  cursor: url("../../images/cursors/cursor-haight-pink.png"), pointer;
}
#tab2 :hover {
  color: #f85792;
}
#tab3 {
  border-color: #9999fb;
  color: #9999fb;
  cursor: url("../../images/cursors/cursor-haight-purple.png"), pointer;
}
#tab3 :hover {
  color: #5f5fff;
}
#tab4 {
  border-color: #59d5e8;
  color: #59d5e8;
  cursor: url("../../images/cursors/cursor-haight-blue.png"), pointer;
}
#tab4 :hover {
  color: #01b7d3;
}

@media (orientation: landscape) {
  h2 {
    flex-direction: row;
  }
}